.container{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
}

.container> nav{
    border-radius: 50px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    padding: 0 2rem 0 2rem;
    width: 50vw;
}

.container>nav li a{
    color: azure;
}