.container{
    border-radius: 50px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    position: fixed;
    margin: 0 2rem 0 2rem;
    width: 500px;
    display: flex;
    justify-content: center;

}

.container> nav{
    padding: 0 2rem 0 2rem;
}

.container>nav li a{
    color: azure;
}