.main_card{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main_card .cards{
    display: flex;
    justify-content: center;
}
  
.card{
    width: 30%;
    height: auto;
    background-color: #1D1D75;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
}

.content .h2{
    color: azure;
}
