.main_card{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main_card .cards{
    display: flex;
    justify-content: center;
}
  
.content .h2{
    color: azure;
}
