#competences{
    height: 80vh;
}

#competences> .cards{
    display: flex;
}

#competences> .cards>*{
    width: 50%;
    height: 40vh;
}

.card-6 >progress{
    width: 20%;
}

.card-6{
    width: 30%;
    background-color: #3A3B9C;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.1);
}

.card-7{
    width: 30%;
    background-color: #3A3B9C;
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.1);
}


.card-6>p{
    color: azure;
}
.card-7>h2, li{
    color: azure;
}

